Diagnostics:
  UnusedIncludes: Strict
  Suppress:
    - misc-unused-using-decls
    - cppcoreguidelines-narrowing-conversions
    - google-explicit-constructor
    - hicpp-exception-baseclass
    - c++26-extensions
    - readability-static-accessed-through-instance
    - cert-dcl58-cpp
    - module_odr*
    - fatal_too_many_errors
    - c23-extensions
    - pragma-pack
    - global_module_introducer_not_at_start
    - include-next-outside-header
    - pragma-system-header-outside-header
    - module-import-in-extern-c
    - drv_argument_not_allowed_with
    - note_drv_address_sanitizer_debug_runtime
InlayHints:
  BlockEnd: true
Hover:
  ShowAKA: true
CompileFlags:
  Add:
    - -xc++
    - -std=c++latest
    # https://github.com/clangd/clangd/issues/1850, a bug for clangd
    - -clang:-std=c++23
    # ^^^ workaround when compiler is MSVC and incompatible flags in it.
    - -IM:\vcpkg\installed\x64-windows\include
    # workaround, clang does not support both `-fsanitize=address` and `-MDd` at the same time.
    - -MD
    # ^^^ unfortunately MSVC compiles. Add this to override -MDd.
    - -ferror-limit=0
  # Compiler: clang++