Diagnostics:
  UnusedIncludes: Strict
  Suppress:
    - misc-unused-using-decls
    - cppcoreguidelines-narrowing-conversions
    - google-explicit-constructor
    - hicpp-exception-baseclass
    - c++26-extensions
    - readability-static-accessed-through-instance
    - cert-dcl58-cpp
    - module_odr_violation_record
    - module_odr_violation_mismatch_decl_unknown
    - module_odr*
    - fatal_too_many_errors
    - c23-extensions
    - pragma-pack
    - global_module_introducer_not_at_start
InlayHints:
  BlockEnd: true
Hover:
  ShowAKA: true
CompileFlags:
  Add:
    - -xc++
    - -std=c++23
    - -IM:\vcpkg\installed\x64-windows\include
